<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- BLACKWIDOW CSS -->
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="/home">HEALING</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- <form>
                <input class="search" type="text" placeholder="Cari..." required>
                <input class="button" type="button" value="Cari">
            </form> -->

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tempat">Tempat Wisata</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="/paket">Paket Wisata</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="/lokasi">Lokasi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/booking">Booking</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/about">About Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <center>
            <h1>Contact Us</h1>
            <div class="facebook">
                <a href="https://www.facebook.com/"><span class="fa fa-facebook"></span></a>
            </div>
            <div class="instagram">
                <a href="https://www.instagram.com/"><span class="fa fa-instagram"></span></a>
            </div>
            <div class="whatsapp">
                <a href="https://www.whatsapp.com/"><span class="fa fa-whatsapp"></span></a>
            </div>

            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1946.4969568435502!2d112.65863655557237!3d-7.977253373936329!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd6285c5c1b44e3%3A0xf6c889ac7452dc3a!2sTelkom%20School%20-%20SMK%20Telkom%20Malang!5e0!3m2!1sid!2sid!4v1666661179893!5m2!1sid!2sid"
                width="100%" height="800" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>

            <div class="container">
                <center>
                    <h2>Dont Forget To Share Us</h2>
                    <div class="facebook">
                        <a href="https://www.facebook.com/"><span class="fa fa-facebook"></span></a>
                    </div>
                    <div class="twitter">
                        <a href="https://www.twitter.com/"><span class="fa fa-twitter"></span></a>
                    </div>
                    <div class="google-plus">
                        <a href="https://myaccount.google.com/profile"><span class="fa fa-google-plus"></span></a>
                    </div>
                    <div class="instagram">
                        <a href="https://www.instagram.com/"><span class="fa fa-instagram"></span></a>
                    </div>
            </div>
        </center>
        <footer>
            <div class="container">
                <small>Copyright &copy; 2022 - Team Healing. All Rights Reserved.</small>
            </div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</body>

</html>