<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Star Icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="/home">HEALING</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- <form>
                <input class="search" type="text" placeholder="Cari..." required>
                <input class="button" type="button" value="Cari">
            </form> -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tempat">Tempat Wisata</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="/paket">Paket Wisata</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="/lokasi">Lokasi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/booking">Booking</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Akhir navbar -->

    <!-- Isi content -->
    <section class="jumbotron text-center">
        <h1 class="display-4" style="font-weight: bold; font-family: sans-serif;">Welcome! Hai Travellers</h1>
        <h5>Para travellers bisa melihat berbagai destinasi wisata disini</h5>
        <br>
        <br>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#ffffff" fill-opacity="1"
                d="M0,96L48,128C96,160,192,224,288,234.7C384,245,480,203,576,186.7C672,171,768,181,864,154.7C960,128,1056,64,1152,80C1248,96,1344,192,1392,240L1440,288L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
            </path>
        </svg>
    </section>
    <!-- Akhir content -->

    <!-- About -->
    <section id="about">
        <div class="container">
            <div class="row text-center mb-3">
                <div class="col">
                    <h2>About This Website</h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>Tempat wisata adalah tempat yang bisa kita kunjungi saat kita sedang dalam kondisi stres dan
                        butuh waktu luang (refreshing). Indonesia adalah Surga Pariwisata
                        banyak sekali tempat wisata yang bisa kita kunjungi di mulai dari Sabang sampai Merauke kita
                        bisa menemukan banyak sekali tempat wisata yang ingin kita kunjungi, di mulai dari pegunungan
                        sampai lautan.</p>
                </div>
                <div class="col">
                    <p>Dengan adanya web ini diharapkan para wisatawan-wisatawan lokal maupun asing bisa melihat dan
                        mengunjungi destinasti tempat wisata di Indonesia,
                        dengan meningkatkan sektor pariwisata di Indonesia pendapatan negara yang terus berkembang
                        akibat dari ramainya wisatawan-wisatawan asing di negara ini, kita juga bisa mengenalkan suatu
                        ciri khas dari
                        daerah-daerah yang ada di negara ini</p>
                </div>
            </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#0099ff" fill-opacity="1"
                d="M0,64L48,74.7C96,85,192,107,288,106.7C384,107,480,85,576,117.3C672,149,768,235,864,224C960,213,1056,107,1152,53.3C1248,0,1344,0,1392,0L1440,0L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
            </path>
        </svg>
    </section>
    <!-- Akhir About -->

    <!-- Tour Guide -->
    <br>
    <br>
    <section id="guide">
        <div class="container">
            <div class="row text-center">
                <div class="col">
                    <h2>Tour Guide</h2>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <br>
                        <div class="card">
                            <img src="asset/tour guide.jfif" class="card-img-top" alt="2">
                            <div class="card-body">
                                <p class="card-text">Hallo nama saya Brandon</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <br>
                        <div class="card">
                            <img src="asset/tour guide.jfif" class="card-img-top" alt="3">
                            <div class="card-body">
                                <p class="card-text">Hallo nama saya Deon</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <br>
                        <div class="card">
                            <img src="asset/tour guide.jfif" class="card-img-top" alt="4">
                            <div class="card-body">
                                <p class="card-text">Hallo nama saya Edwin</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <img src="asset/tour guide.jfif" class="card-img-top" alt="5">
                            <div class="card-body">
                                <p class="card-text">Hallo nama saya Farrel</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <img src="asset/tour guide.jfif" class="card-img-top" alt="6">
                            <div class="card-body">
                                <p class="card-text">Hallo nama saya Harry</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <img src="asset/tour guide.jfif" class="card-img-top" alt="7">
                            <div class="card-body">
                                <p class="card-text">Hallo nama saya Evan</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <footer>
        <div class="container">
            <small>Copyright &copy; 2022 - Team Healing. All Rights Reserved.</small>
        </div>
    </footer>
    <!-- Akhir Guide -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>