<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <!-- BLACKWIDOW CSS -->
    <!-- <link rel="stylesheet" href="/style.css"> -->
    <title>Document</title>
</head>

<body>
    <!-- Navbar -->
    <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="/home">HEALING</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> -->
            <!-- <form>
                <input class="search" type="text" placeholder="Cari..." required>
                <input class="button" type="button" value="Cari">
            </form> -->
            <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tempat">Tempat Wisata</a>
                    </li> -->
                    <!-- <li class="nav-item">
                        <a class="nav-link active" href="/paket">Paket Wisata</a>
                    </li> -->
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="/lokasi">Lokasi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/booking">Booking</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav> -->
    <!-- Akhir navbar -->

    <!-- Tempat Wisata -->
    <!-- <section id="guide">
        <div class="container">
            <div class="row text-center">
                <div class="col">
                    <br>
                    <h2>Paket Wisata VIP</h2>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <br>
                        <div class="card">
                            <img src="asset/jatimpark.jpg" class="card-img-top" alt="2">
                            <div class="card-body">
                                <p class="card-text">Jatim Park 1</p>
                                <p class="card-text"><a href="/paket">
                                        <font color="red"><b>VIP</b>
                                    </a></font> harga : Rp. 350.000</p>
                                <p class="card-text">Tiket berlaku 2 hari dan mendapatkan snack</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <br>
                        <div class="card">
                            <img src="asset/Borobudur_Temple.jpg" class="card-img-top" alt="3">
                            <div class="card-body">
                                <p class="card-text">Candi Borobudur</p>
                                <p class="card-text"><a href="/paket">
                                        <font color="red"><b>VIP</b>
                                    </a></font> harga : Rp. 700.000</p>
                                <p class="card-text">Mendapatkan penginapan dan makan untuk 1 hari</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <br>
                        <div class="card">
                            <img src="asset/pantai pandawa.jpg" class="card-img-top" alt="4">
                            <div class="card-body">
                                <p class="card-text">Pantai Pandawa</p>
                                <p class="card-text"><a href="/paket">
                                        <font color="red"><b>VIP</b>
                                    </a></font> harga : Rp. 1.750.000</p>
                                <p class="card-text">Mendapatkan penginapan dan makan untuk 1 hari serta voucher seafood
                                    untuk 2 orang
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <img src="asset/Museum-Angkut-Malang.jpg" class="card-img-top" alt="5">
                            <div class="card-body">
                                <p class="card-text">Museum Angkut</p>
                                <p class="card-text"><a href="/paket">
                                        <font color="red"><b>VIP</b>
                                    </a></font> harga : Rp. 300.000</p>
                                <p class="card-text">Mendapatkan snack serta voucher foto dan costum gratis</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <img src="asset/th.jfif" class="card-img-top" alt="6">
                            <div class="card-body">
                                <p class="card-text">Tebing Breksi</p>
                                <p class="card-text"><a href="/paket">
                                        <font color="red"><b>VIP</b>
                                    </a></font> harga : Rp. 500.000</p>
                                <p class="card-text">Mendapatkan penginapan dekat Tebing Breksi</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <img src="asset/gwk.png" class="card-img-top" alt="7">
                            <div class="card-body">
                                <p class="card-text">Garuda Wisnu Kencana</p>
                                <p class="card-text"><a href="/paket">
                                        <font color="red"><b>VIP</b>
                                    </a></font> harga : Rp. 1.500.000</p>
                                <p class="card-text">Mendapatkan penginapan dan makan untuk 1 hari, serta mendapatkan
                                    voucher spa</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section> -->
    <!-- <footer>
        <div class="container">
            <small>Copyright &copy; 2022 - Team Healing. All Rights Reserved.</small>
        </div>
    </footer> -->
    <!-- Akhir Guide -->

    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script> -->

</body>

</html>